---
layout: default
title: Home
---

<h4>Welcome to the MakeAPI Docs!</h4>
<p class="lead">
  The Make API is an API for exposing user created
  web content. It is developed by <a href="https://mozilla.org" title="Mozilla">Mozilla</a> and it's contributors and is
  mainly used by
  <a href="https://webmaker.org" title="Mozilla Webmaker">Mozilla Webmaker</a>
  and it's tools: <a href="https://popcorn.webmaker.org" title="Popcorn Maker">Popcorn Maker</a>,
  <a href="https://thimble.webmaker.org" title="Thimble">Thimble</a> and
  <a href="https://goggles.webmaker.org" title="X-ray Goggles">X-ray Goggles</a>.
</p>

<p class="lead">
  You can find the <a href="https://github.com/mozilla/makeapi" title="source code on Github">source code on Github</a>
</p>

{% include anchor.html id="installation" %}
<h1>Installation</h1>

<h3>Dependencies</h3>
<div class="container">
  <div class="container">
    <ol class="list list-inset">
      <li><a href="http://elasticsearch.org" title="ElasticSearch">ElasticSearch</a></li>
      <li><a href="http://www.mongodb.org/" title="MongoDB">MongoDB</a></li>
      <li><a href="https://github.com/mozilla/makeapi" title="Webmaker Login Server">Webmaker Login Server</a> (credentials required)</li>
    </ol>
  </div>
</div>

<h3>Setup</h3>
<div class="container">
  <div class="container">
    <ol class="list list-inset">
      <li>Clone the git repository with git clone https://github.com/mozilla/MakeAPI.git</li>
      <li>Execute npm install in the application directory.</li>
      <li>In the root directory of the application, copy env.sample to a new file called .env</li>
    </ol>
    NOTE: The .env file contains settings for various aspects of the MakeAPI server's operation. The default settings should be enough for local development. For non-standard configurations, you may need to adjust where variables point to match the locations of your external dependancies. See the ENV file reference for more details.
  </div>
</div>

<h3>Running</h3>
<div class="container">
    <div class="container">
    <ol class="list list-inset">
      <li>Ensure all external dependencies are running</li>
      <li>Run node server.js from the root of the MakeAPI application</li>
    </ol>
    By default the server will run at http://localhost:5000. You can change this by adding PORT= to your .env file.
  </div>
</div>

{% include home/configuration.html %}
