<div class="container">
  <div class="navbar-header">
    <a href="/" title="" class="navbar-brand">Make API</a>
  </div>
  <div class="collapse navbar-collapse" collapse="isCollapse">
    <ul class="nav navbar-nav">
      <li>
        <a href="/#installation">Installation</a>
      </li>
      <li>
        <a href="api-docs">Docs</a>
      </li>
      <li>
        <a href="MakeAPI Client Documentation">MakeAPI-Client Docs</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="https://github.com/mozilla/makeapi">
          <span class="fa fa-github"></span>
          mozilla/makeapi
        </a>
      </li>
    </ul>
  </div>
</div>
