<div class="container">
  <div class="navbar-header">
    <a href="/makeapi-docs/" title="" class="navbar-brand">Make API</a>
  </div>
  <div class="collapse navbar-collapse" collapse="isCollapse">
    <ul class="nav navbar-nav">
      <li>
        <a href="./#installation">Installation</a>
      </li>
      <li>
        <a href="./#configuration">Configuration</a>
      </li>
      <li>
        <a href="/makeapi-docs/api-docs">API</a>
      </li>
      <li>
        <a href="/makeapi-docs/client-docs">JavaScript Client Documentation</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="https://github.com/mozilla/makeapi">
          <span class="fa fa-github"></span>
          mozilla/makeapi
        </a>
      </li>
    </ul>
  </div>
</div>
