<div class="container">
  <div class="navbar-header">
    <a href="{{ site.baseurl }}/" title="" class="navbar-brand">Make API</a>
  </div>
  <div class="collapse navbar-collapse" collapse="isCollapse">
    <ul class="nav navbar-nav">
      <li>
      <a href="{{ site.baseurl }}/#installation">Installation</a>
      </li>
      <li>
      <a href="{{ site.baseurl }}/#configuration">Configuration</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/api-docs">API</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/client-docs">JavaScript Client Documentation</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/makeapi-angular">MakeAPI-angular</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="https://github.com/mozilla/makeapi">
          <span class="fa fa-github"></span>
          mozilla/makeapi
        </a>
      </li>
    </ul>
  </div>
</div>
