<div class="container text-left">
  <div class="container col-sm-6">
    <h2>Make Routes</h2>
    <ul class="list-unstyled">
      <li><a href="#create-make" title="Create Make">Create Make</a></li>
      <li><a href="#update-make" title="Update Make">Update Make</a></li>
      <li><a href="#delete-make" title="Delete Make">Delete Make</a></li>
      <li><a href="#search-makes" title="Search Makes">Search Makes</a></li>
      <li><a href="#like-make" title="Like Make">Like Make</a></li>
      <li><a href="#unlike-make" title="Unlike Make">Unlike Make</a></li>
      <li><a href="#report-make" title="Report Make">Report Make</a></li>
      <li><a href="#cancel-report-make" title="Cancel Report">Cancel Report</a></li>
      <li><a href="#remix-count" title="Remix Count">Remix Count</a></li>
      <li><a href="#tag-suggestion" title="Tag Suggestion">Tag Suggestion</a></li>
    </ul>
  </div>
  <div class="container col-sm-6">
    <h2>List Routes</h2>
    <ul class="list-unstyled">
      <li><a href="#create-list" title="Create List">Create List</a></li>
      <li><a href="#update-list" title="Update List">Update List</a></li>
      <li><a href="#delete-list" title="Delete List">Delete List</a></li>
      <li><a href="#get-list" title="Get List">Get List</a></li>
      <li><a href="#get-users-lists" title="Get User's Makes">Get User's Makes</a></li>
    </ul>
  </div>
</div>
