<div class="container">
  {% include anchor.html id="setup" %}
  <h2>Setup</h2>
  <ol>
    <li>
    Add makerstrap in your head {% highlight html %} <link rel="stylesheet" href="bower_components/makerstrap/dist/makerstrap.complete.min.css" /> {% endhighlight %}. There are other ways to do this -- see the makerstrap docs.
    </li>
    <li>
      Make sure <code>angular.js</code>, <code>makeapi-client.js</code>, <code>makeapi-angular.js</code> and <code>makapi-angular.templates.js</code> are all added to your document.
    </li>
    <li>
      Add the <code>wmMakeApiAngular</code> module to your angular app.
    </li>
  </ol>
</div>
